* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    color: white;
}

*::selection{
    background-color: #3bbfef;
}

body {
    height: max-content;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(17, 17, 17);
    height: 7vh;
}

.header-flex {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.list {
    margin-left: 80px;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 32px;
    text-decoration: none;
}

.tab-bar {
    display: inline;
}

.tab-bar a {
    font-size: 23px;
    text-decoration: none;
    transition: 0.5s;
}

.tab-bar a:hover {
    color: #7abaca;
}

.bar-title {
    text-align: center;
    min-width: 50%;
}

.bar {
    text-align: center;
    width: 50%;
}

.title {
    display: inline;
}

/*  */

main {
    background-color: black;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
}



footer {
    background-color: black;
}

footer div {
    background-color: rgb(17, 17, 17);
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}