* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    color: white;
}


body {
    height: max-content;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(17, 17, 17);
    height: 7vh;
}

header div {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

.tab-bar a {
    font-size: 23px;
    text-decoration: none;
    transition: 0.5s;
}

.tab-bar a:hover {
    color: #7abaca;
}

.bar-title {
    text-align: center;
    min-width: 50%;
}

.bar {
    width: 50%;
}

/*  */

main {
    background-color: black;
    height: 88vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 200px;
}

.form-block {
    margin: 0;
    width: 400px;
}

.form-block-title {
    text-align: center;
    font-size: 32px;
}

.form-block form {
    margin-top: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-type {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #91bfcb;
    box-shadow: none;
    margin-top: 10px;
    padding: 10px;
    color: black;
}

.input-type:focus {
    border: 2px solid black;
    box-shadow: none;
}

.input-submit {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #81bece;
    transition: 0.5s;
}

.input-submit:hover {
    background-color: #6296a3;
}

.offer-a {
    margin-top: 20px;
    color: #7abaca;
}

/*  */

footer {
    background-color: black;
}

footer div {
    background-color: rgb(17, 17, 17);
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}