.main-page-main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-page-flex {
    text-align: center;
}

.wellcome {
    font-size: 32px;
}

.bold-gab {
    font-weight: bold;
}

.reason {
    margin-top: 250px;
    font-size: 28px;
}

.bold-reason {
    font-weight: bold;
    color: #7abaca
}

.solution {
    margin-top: 25px;
    font-size: 18px;
}