

.main-flex-students {
    margin-top: 100px;
    width: 750px;
    height: 450px;
    border: 2px solid white;
    border-radius: 10px;
}

.stud-list {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 450px;
}

.students-title {
    margin: 0;
    font-size: 32px;
    height: 15%;
}

.stud-t {
    margin: 10px 15px;
}

.stud-list-wrapper {
    margin-left: 110px;
    height: 85%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
}

.stud-list-wrapper-item {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.stud-list-wrapper div {
    margin: 0;
}

.stud-list-wrapper-item:hover{
    color: #7abaca;
    transform: scale(1.1);
}

.student-add {
    text-decoration: underline #7abaca;
    text-decoration-thickness: 3px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.student-add:hover {
    color: #7abaca;
    text-decoration: underline white;
    text-decoration-thickness: 3px;
    transform: scale(1.1);
}

/*  */
