* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    color: white;
}


body {
    height: max-content;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(17, 17, 17);
    height: 7vh;
}

.header-flex {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.list {
    margin-left: 80px;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

.tab-bar {
    display: inline;
}

.tab-bar a {
    font-size: 23px;
    text-decoration: none;
    transition: 0.5s;
}

.tab-bar a:hover {
    color: #7abaca;
}

.bar-title {
    text-align: center;
    min-width: 50%;
}

.bar {
    width: 50%;
}

.title {
    display: inline;
}

/*  */

main {
    background-color: black;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.main-flex{
    margin-top: 100px;
}

.div-main-title{
    text-align: center;
}

.main-title{
    font-size: 32px;
}

.wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 150px 150px 150px;
}

.card {
    background-color: black;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.card:hover{
    font-size: 18px;
    border: 5px solid #7abaca;
    color: #7abaca;
}


/*  */

footer {
    background-color: black;
}

footer div {
    background-color: rgb(17, 17, 17);
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}