* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    color: white;
}


body {
    height: max-content;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(17, 17, 17);
    height: 7vh;
}

.header-flex {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.list {
    margin-left: 80px;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

.tab-bar {
    display: inline;
}

.tab-bar a {
    font-size: 23px;
    text-decoration: none;
    transition: 0.5s;
}

.tab-bar a:hover {
    color: #7abaca;
}

.bar-title {
    text-align: center;
    min-width: 50%;
}

.bar {
    width: 50%;
}

.title {
    display: inline;
}

/*  */

main {
    background-color: black;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.main-flex-students {
    margin-top: 100px;
    width: 750px;
    height: 450px;
    border: 2px solid white;
    border-radius: 10px;
}

.stud-list {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 450px;
}

.students-title {
    margin: 0;
    font-size: 32px;
    height: 15%;
}

.stud-t {
    margin: 10px 15px;
}

.stud-list-wrapper {
    margin-left: 110px;
    height: 85%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
}

.stud-list-wrapper div a {
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.stud-list-wrapper div {
    margin: 0;
}

.stud-list-wrapper div a:hover{
    color: #7abaca;
    transform: scale(1.1);
}

/*  */

footer {
    background-color: black;
}

footer div {
    background-color: rgb(17, 17, 17);
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}