.main-flex-cab {
    margin-top: 100px;
    width: 750px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.cab {
    min-height: 400px;
    display: flex;
    flex-direction: row;
}

.left-column-cab {
    width: 50%;
    margin: 0;
    border-right: solid 2px white;
    display: flex;
    flex-direction: column;
}

.right-column-cab {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cab-title {
    text-align: center;
    font-size: 32px;
    margin: 10px 15px;
}

.requests {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-name {
    display: inline;
    margin-left: 20px;
    width: 75%;
}

.request-button {
    width: 25%;
}

.accept-user {
    border: none;
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.accept-user:hover {
    background-color: #7abaca;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}