.main-flex-groups {
    margin-top: 100px;
}

.div-main-title-group {
    text-align: center;
}

.main-title {
    font-size: 32px;
}

.wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 150px 150px 150px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    text-decoration: none;
}

.card:hover {
    font-size: 18px;
    border: 5px solid #7abaca;
    color: #7abaca;
}

.group-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 250px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    font-size: 52px;
    color: #7abaca
}

.group-add:hover {
    font-size: 60px;
    border: 5px solid #7abaca;
    color: #7abaca;
}